.image {
  width: 100%;
}
img {
  width: 100%;
  height: auto;
  background-size: cover;
  border-radius: 3px;
  margin-top: 10px;
  transition: transform 0.3s;
}
img:hover{
  transform: scale(1.1);
  transition: 0.5;
}
.gallery {
  margin: 0px;
  padding: 10px;
  width: 100%;
  overflow: hidden;
}
