/*general*/

* {
  margin: 0;
  padding: 0%;
}
body {
  background-color: rgb(240, 240, 240);
}

/*header*/

.navbar {
  background-color: rgb(148, 0, 0);
}

/*jumbotron*/

.jumbotron {
  background-image: url(../multimedia/fondo1.jpg);
  background-size: cover;
  height: 350px;
  color: rgb(148, 0, 0);
  text-shadow: 0 0 100px rgb(52, 52, 52);
}
.jumbotron2 {
  background-color: rgb(255, 255, 255);
  height: auto;
  color: rgb(148, 0, 0);
  text-align: center;
  align-items: center;
}

/*botones del index*/

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: auto;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: rgb(148, 0, 0);
  border: 1px solid #ff0000;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  opacity: 0.8;
  padding-top: none;
}
.button:hover {
  opacity: 1;
  background-color: rgb(148, 0, 0);
  border-color: rgb(148, 0, 0);
  color: white;
  text-decoration: none;
  border: 1px solid #fff;
}

/*sucursales*/
/*el h4 se repite en la sección de trabajos realizados y productos*/

.map {
  border-radius: 4px;
}
.Colon {
  width: 100%;
  height: 400px;
  margin-bottom: 70px;
}
.VillaElisa {
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
}
iframe {
  border: 2px solid rgb(204, 204, 204);
  width: 100%;
  height: 100%;
}
h4 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: rgb(148, 0, 0);
  color: rgb(255, 255, 255);
  height: 40px;
  border-radius: 4px;
}

/*contactanos form*/

form {
  max-width: 500px;
  margin: 50px auto;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
}
input[type="submit"] {
  background-color: rgb(148, 0, 0);
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: rgb(148, 0, 0);
}

/*productos*/

.card-group {
  width: 100%;
  height: auto;
  text-align: center;
}

/*galeria trabajos realizados*/

.image {
  width: 100%;
}
.image img {
  width: 100%;
  height: auto;
  background-size: cover;
  border-radius: 3px;
}
.gallery {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}
.gallery-margin {
  margin: 10px;
  padding: 10px;
}

/*footer*/

footer {
  background-color: rgb(240, 240, 240);
  padding: 0;
  text-align: center;
  height: 500%;
  align-items: end;
}
.contenido-footer {
  background-color: rgb(148, 0, 0);
  color: rgb(182, 182, 182);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

/*ajuste especifico para móvil*/ /*trabajos realizados, productos*/

@media (min-width: 100px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
  .card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/*ajuste especifico para tablets*/ /*trabajos realizados, productos*/

@media (min-width: 520px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/*ajuste especifico para +tablets*/ /*trabajos realizados, productos*/

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
